<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<h1> Liste des Produits </h1>
<table>
    <thead>
    <tr><td>Id</td><td>Nom</td><td>Type</td><td>Rating</td><td>Created AT</td><td>Cat by ID</td></tr>
    </thead>
    <tbody>
    <tr th:each="Produits : ${listProducts}">
        <td th:text="${Products.id}"></td>
        <td th:text="${Products.name}"></td>
        <td th:text="${Products.type}"></td>
        <td th:text="${Products.rating}"></td>
        <td th:text="${Products.createdAt}"></td>
        <td th:text="${Products.categoryId}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>